body{
    font-family: 'Roboto', sans-serif;
}
*{
    box-sizing: border-box;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 67px;
    background-color: #c3cfd9;
    font-weight: 400;
    font-size: 34px;
    color: #e8833a;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1{
    margin-top: 67px;
    height: 110px;
    font-weight: 400;
    color: #293845;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.filmes-conteiner{
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}

.filme{
    width: 145px;
    height: 209px;
    box-shadow: 0px 2px 4px 2px rgba(0, 0, 0, 0.1);
    margin-bottom: 11px;
}
.filme img{
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.filme:active{
    transform: scale(0.97);
    transition: transform .6s;
}
.sessoes-conteiner, .assentos-conteiner{
    margin-bottom: 130px;
}
.sessao{
    margin-left: 23px;
}
h2{
    font-size: 20px;
    font-weight: 400;
    line-height: 23.44px;
    letter-spacing: 0.02em;
    color: #293845;
    margin-bottom: 23px;
}
.horario-sessao{
    margin-bottom: 23px;
    background-color: #e8833a;
    border-radius: 3px;
    width: 83px;
    height: 43px;
    margin-right: 8px;
    font-size: 18px;
    color: #ffffff;
}
.botoes-conteiner{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 24px;
    margin-right: 24px;
}
.botao-assento{
    border-radius: 50%;
    width: 26px;
    height: 26px;
    margin-right: 7px;
    margin-top: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
}
.disponivel{
    background-color: #c3cfd9;
    border: 1px solid #79acd6;
}
.selecionado{
    background-color: #8dd7cf;
    border: 1px solid #45e0d1;
}
.indisponivel{
    background-color: #fbe192;
    border: 1px solid #e4b017;
}

.legenda{
    width: 100vw;
    display: flex;
    justify-content: space-around;
}
.legenda div{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.legenda p{
    margin-top: 8px;
    font-size: 13px;
    color: #4e5a65;
}
.informacoes-comprador{
    margin: 41px 24px;
}
input{
    margin-bottom: 7px;
    width: 90vw;
    height: 51px;
    border-radius: 3px;
    border: 1px solid #D5D5D5;
    background-color: #ffffff;
    font-style: italic;
    font-size: 18px;
    color: #afafaf;
}
h3{
    font-size: 18px;
    color: #293845;
}
.reservar{
    display: flex;
    align-items: center;
    justify-content: center;
}
.reservar-assentos{
    font-size: 18px;
    line-height: 21.09px;
    width: 225px;
    height: 42px;
    background-color: #e8833a;
    border-radius: 3px;
    border: 1px solid #f66905;
    color: #ffffff;
}
.texto-sucesso{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 110px;
    text-align: center;
    margin-bottom: 25px;
}
h4{
    color: #247a6b;
    font-weight: 700;
    font-size: 24px;
    width: 150px;
   
    margin: 250px 0 150px;
}
.conteiner-info-final{
    margin: 40px 0 40px 28px;
}
.titulo-informacoes-finais{
    font-weight: 700;
    font-size: 24px;
    color: #293845;
    line-height: 28.13px;
    margin-bottom: 12px;
    margin-top: 10px;
}
.informacao-final{
    font-weight: 400;
    font-size: 22px;
    color: #293845;
    line-height:25.78px;
    margin-bottom: 5px;
}
.conteiner-voltar-home{
    display: flex;
    justify-content: center;
}
.voltar-home{
    font-size: 18px;
    line-height: 21.09px;
    width: 225px;
    height: 42px;
    background-color: #e8833a;
    border-radius: 3px;
    border: 1px solid #f66905;
    color: #ffffff;
}
.rodape{
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: #dfe6ed;
    width: 100%;
    height: 117px;
    display: flex;
    align-items: center;
    border-top: 1px solid #9EADBA;
    
}
.img-rodape{
    width: 64px;
    height: 89px;
    background-color: #ffffff;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 2px;
    margin-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.img-rodape img{
    width: 80%;
    height: 90%;
}
.texto-rodape p{
    color: #293845;
    font-size: 26px;
    margin-left: 14px;
    margin-top: 10px;
}